#createPost {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  border: 0.5px solid black;
}

#type {
  margin-bottom: 2%;
}

#title {
  width: 70%;
  height: 20px;
}

#subreddit {
  margin-bottom: 2%;
}

#DeleteandEdit {
  margin-left: 2%;
}

#editform {
  margin-top: 5%;
}

#editformdiv {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
}

#post {
  background-color: #ff5700;
  color: white;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  float: right;
}

#body,
#title,
#type,
#subreddit,
#author_id,
#post {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#header {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 2%;
  margin-bottom: 5%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}